Django==6.0.2
django-cors-headers==4.9.0
django-storages==1.14.6
djangorestframework==3.16.1
jmespath==1.1.0
pillow==12.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3